<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
            </script>
            <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
            </script>
            <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
            </script>
            
            <!-- CDN link used below is compatible with this example -->
            <link rel="stylesheet" href=
                "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
                <script src=
                "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js">
                </script>
                
                <title>AMI automation</title>
            </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">AMI</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('aws') }}">aws <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('azure') }}">Azure</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('gcp') }}">GCP</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="jumbotron">
                <form action="/azure" method="POST" enctype="multipart/form-data">
                    <!-- <div class="form-group">
                        <label for="vmname">Virtual Machine Name</label>
                        <input  type="text" class="form-control" id="vmname" name="vmname" placeholder="Enter Virtual Machine Name">
                    </div>
                    <div class="form-group">
                        <label for="user">User name for instance</label>
                        <input type="text" class="form-control" id="user" name="user" placeholder="Username for given Instance">
                    </div>
                    <div class="form-group">
                        <label for="Password">Password</label>
                        <input type="Password" class="form-control" id="Password" name="Password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="region">Instance region</label>
                        <input  type="text" class="form-control" id="region" name="region" placeholder="region">
                    </div>
                    
                    <div class="form-group">
                        <label for="os">Choose Operating System</label>
                        <select class="custom-select mr-sm-2" id="os" name="os">
                            <option selected>Choose Operating System</option>
                            <option value="1">Window</option>
                            <option value="2">ubuntu-Linux</option>
                            <option value="3">Centos</option>
                            <option value="4">Suse</option>
                        </select>
                    </div> -->
                    <div class="form-group">
                        <label for="os">Select Required Image  </label>
                        <select class="selectpicker" data-live-search="true" id="ami" name="ami">
                            
                            <option SELECTED data-tokens='0'>Choose available image</option>
                            {% for x in opt %}
                                <option data-tokens='{{ x }}' value='{{ x }}' >{{x.offer}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div id="ansibleList" name="ansibleList" class="form-group" data-list='{{ ansibleList }}'style="margin-top: 2rem;margin-bottom: 2rem;" >
                        <h6>Choose Operating System from above to get list of available softwares </h6> 
                    </div>
                    <div class="form-group">
                        <select class="custom-select mr-sm-2" id="cred" name="cred">
                            <option SELECTED value='0'>Choose available account</option>
                            {% for x in credential %}
                                <option value= '{{ x }}'>{{x}}</option>
                            {% endfor %}
                        </select>
                        
                    </div>
                    
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <script>
            $(document).ready(function(){
                $("selectpicker").selectpicker();
            })

            const x = document.getElementById('ami')
            const ansibleListDropdown = document.getElementById('ansibleList')
            const { windows,unix } = JSON.parse(ansibleListDropdown.dataset.list.replace(/'/gi,'"') )

            x.addEventListener('change',()=>{
                content ="<h6>Choose softwares to install from following </h6>"
                let k = JSON.parse(x.value.replace(/'/gi,'"'))
                if(k.urn.toLowerCase().includes('windows')){
                    windows.forEach(e=>content += `
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox"  name=${e} value=${e} id="${e}">
                        <label class="form-check-label" for="flexCheckDefault">
                            ${e}
                        </label>
                    </div>`)
                    console.log(content)
                    ansibleListDropdown.innerHTML = content
                }
                else{
                    console.log(unix)
                    unix.forEach(e=>content += `
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" name=${e} value=${e} id="${e}">
                        <label class="form-check-label" for="flexCheckDefault">
                            ${e}
                        </label>
                    </div>`)
                    console.log(content)
                    ansibleListDropdown.innerHTML = content
                }
            })
        </script>
       </body>
</html>