<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
       <link rel="stylesheet" href=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
            <script src=
            "https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
            </script>
            <script src=
            "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">
            </script>
            <script src=
            "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
            </script>

            <!-- CDN link used below is compatible with this example -->
            <link rel="stylesheet" href=
                "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
                <script src=
                "https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js">
                </script>
        <title>AWS EKS</title>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">AWS EKS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('aws') }}">aws <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('azure') }}">Azure</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('gcp') }}">GCP</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="jumbotron">
                <form action="/aws" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="file">Choose aws Creadiantial file</label>
                        <input type="file" class="form-control-file" id="file" name="file">
                    </div>
                    <div class="form-group">
                        <label for="file">Upload install.sh file</label>
                        <input type="file" class="form-control-file" id="install_file" name="install_file">
                    </div>
                    <div class="form-group">
                        <label for="github_link">Github Link</label>
                        <input type="text" class="form-control-file" id="github_link" name="github_link">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" name="AlreadyConfigured" type="checkbox" value="true" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Check if you have configured already (No need to select configuration file if you have configured locally)
                        </label>
                    </div> <br/>
                    <button type="submit" class="btn btn-primary">Create Cluster</button>
                </form>
            </div>
        </div>
    </body>
</html>
